<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>test kbee</title>
  </head>
  <body>
    <a href="/verify">verify</a>
    <p>L'utente viene usato come chiave per salvarmi la roba, sovrascrivo tutto se non è unico.
       Nel senso, cazzo mene è un test. Se sbagli a scrivere refresha.</p>
    <form action="/enroll" method="POST">
      <input type="text" name="user" placeholder="user" required>
      <input type="text" id="pass" name="password" placeholder="password" required>
      <p id="counter"></p>
      <button type="submit" >Invia</button>
      <input type="hidden" name="pressions" id="hidden"/>
    </form>
    <br><br>
    Utonti: <br>
    {% if stats %}
    <ul>
      {% for key,value in stats.items() %}
      <li>user:<b>{{key}}</b><br> pass:<b>{{value.password}}</b></li>
      {% endfor %}
    </ul>

      {%else%}
        Nessun utonto

    {% endif %}
  </body>
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
